body,
html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    scroll-behavior: smooth;
}

section {
    height: 100%;
    padding: 20px 0;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

section.show {
    opacity: 1;
    transform: translateY(0);
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background: yellow;
    padding: 10px 0;
    text-align: center;
    z-index: 1;
}

header nav a {
    margin: 0 15px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

header nav a:hover {
    color: gray;
    border-bottom: 1px solid gray;

}

footer {
    width: 100%;
    background: yellow;
    padding: 10px 0;
    text-align: center;
    z-index: 1;
}

footer nav a {
    margin: 0 15px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

footer nav a:hover {
    color: gray;
    border-bottom: 1px solid gray;

}

.subTitle {
    margin: 20px 0;
    font-size: 36px;
}

#top {
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.top-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* 画像を縦横比を保ってカバー */
    z-index: -1;
    /* タイトルを前面に表示するために後ろに下げる */
}

#top .title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#top .title h1 {
    font-size: 60px;
    margin-bottom: 20px;
}

.content.top {
    margin-left: 40px;
}

.content.bottom {
    padding: 20px 0;
}

.moraLink {
    display: block;
    text-align: center;
    width: 80px;
    color: #000;
    padding: 5px 10px;
    margin: 0 10px 0 auto;
    border-radius: 5px;
}

.moraLink:hover {
    color: #fff;
    background: #ff701e;
}

.content.left {
    margin-left: 40px;
}

.flexbox {
    display: flex;
}

@media screen and (max-width: 480px) {
    .content.top {
        margin-left: 20px;
    }

    .content.left {
        margin-left: 20px;
    }

    .flexbox {
        display: block;
    }
}

#news {
    background: rgb(255, 252, 153);
    padding: 0;
    border-top: 2px solid rgb(255, 247, 0);
    border-bottom: 2px solid rgb(255, 247, 0);
}

#news .content.left {
    width: 300px;
}

#news .content.right {
    width: 100%;
    border-left: 2px solid rgb(255, 247, 0);
}

#news a {
    color: #222;
    text-decoration: none;
}

.news-tr {
    overflow: hidden;
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    background: #fff;
    border: 2px solid rgb(255, 247, 0);
    transition: background 0.3s ease;
}

.news-tr::after {
    background: rgb(255, 247, 0);
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    transform: scale(0, 1);
    transform-origin: left top;
    transition: .2s cubic-bezier(0.45, 0, 0.55, 1);
    z-index: -1;
}

.news-tr:hover {
    color: #ff701e;
}

.news-tr:hover::after {
    transform: scale(1, 1);
}

.news-tr div {
    padding: 20px 0 20px 20px;
}

.news-tr .td-left {
    padding: 0;
}

.news-tr .td-date {
    width: 100px;
    float: left;
}

.news-tr .td-title {
    width: 200px;
    float: left;
}

.news-tr .td-img {
    width: 200px;
}

.news-tr .td-more {
    width: 60px;
}

.news-tr .td-img div {
    height: 150px;
    width: 150px;
    background: gray;
}

@media screen and (max-width: 480px) {
    #news .content.left {
        width: auto;
    }

    .news-tr {
        display: block;
    }

    .news-tr .td-left,
    .news-tr .td-img {
        float: left;
    }

    .news-tr .td-date,
    .news-tr .td-title {
        clear: both;
    }

    .news-tr .td-more {
        float: right;
        padding-top: 0;
    }
}

#about {
    background: rgb(255, 247, 0);
}

#about .content {
    width: 50%;
}

#about .content.right .placeholder {
    width: 100%;
    height: 600px;
    background: gray;
}

@media screen and (max-width: 480px) {
    #about .content {
        width: auto;
    }
}

#service .content.top a {
    color: #000;
    float: right;
    padding: 5px 10px;
    margin: 0 10px;
    border-radius: 5px;
}

#service .content.top a:hover {
    color: #fff;
    background: #ff701e;
}

#service .content.middle {
    width: 100%;
    display: flex;
    justify-content: center;
}

.service-item {
    position: relative;
    color: #fff;
    width: 130px;
    height: 400px;
    overflow: hidden;
    transition: width 0.5s ease;
}

.service-title {
    writing-mode: vertical-rl;
    text-orientation: upright;
    position: absolute;
}

.service-title h4 {
    padding: 20px 5px;
    margin: 0;
    font-size: 32px;
}

.service-detail {
    display: none;
    position: absolute;
    background: #ff701e;
    text-align: left;
    left: 0;
    bottom: 0;
    padding: 5px 10px;
}

.service-detail p,
.service-detail h4 {
    padding: 0;
    margin: 0;
}

.service-detail h4 {
    font-size: 28px;
}

.service-detail a {
    color: #fff;
    float: right;
    padding: 5px 10px;
    margin: 0;
    border-radius: 5px;
}

.service-detail a:hover {
    color: #ff701e;
    background: #fff;
}


.service-item:hover {
    width: 300px;
}

.service-item:hover .service-title {
    display: none;
}

.service-item:hover .service-detail {
    display: block;
}

.service-image {
    width: 200px;
    height: 100%;
    background-color: gray;
    margin-bottom: 10px;
    flex-shrink: 0;
}

.service-img1 {
    background: url('../img/Top.png') no-repeat center center;
}

.service-img2 {
    background: url('../img/tsuchi01.jpg') no-repeat center center;
}

@media screen and (max-width: 480px) {
    #service .content.middle {
        display: block;
    }

    .service-item {
        width: 400px;
        height: 150px;
        margin: 0 auto;
    }

    .service-title {
        writing-mode: horizontal-tb;
    }

    .service-detail {
        width: 100%;
    }

    .service-item:hover {
        width: 400px;
        height: 400px;
    }
}

#furture {
    background: rgb(255, 252, 153);
}

#furture .content.middle {
    display: flex;
    flex-direction: column;
    align-items: center;
}



#furture .table {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
}

#furture .cell {
    text-align: center;
    padding: 10px;
}

#furture .cell-right {
    text-align: left;
    grid-row: span 2;
}

@media (max-width: 600px) {
    #furture .table {
        grid-template-columns: 1fr;
    }

    #furture .cell,
    #furture .cell-right {
        grid-row: auto;
    }
}


#topics {
    background: rgb(255, 247, 0);
}

#topics .content.middle {
    margin: 0 auto;
    position: relative;
    width: 90%;
    max-width: 900px;
    overflow: hidden;
    height: 400px;
}

.slider-wrapper {
    margin: 0 auto;
    position: relative;
    width: 90%;
    max-width: 900px;
    overflow: hidden;
    height: 400px;
}

.slider-container {
    display: flex;
    transition: transform 0.5s ease;
}

#topics .slide {
    width: 200px;
    height: 100%;
    margin-right: 10px;
}

#topics .img {
    width: 200px;
    height: 145px;
    border-radius: 10px;
}

/* 擬似画像に色をつける */
.fake-img1 {
    background: #ff6666;
}

.fake-img2 {
    background: #ff9999;
}

.fake-img3 {
    background: #66ccff;
}

.fake-img4 {
    background: #99ddff;
}

.fake-img5 {
    background: #66ff66;
}

.fake-img6 {
    background: #99ff99;
}

.fake-img7 {
    background: #cc66ff;
}

.fake-img8 {
    background: #dd99ff;
}

.slide-item {
    height: 180px;
    display: flex;
    flex-direction: column;
}

.slide-item a {
    color: #000;
    text-decoration: none;
    transition: transform 0.3s ease;
}

.slide-item a:hover {
    transform: scale(1.05, 1.05);
}

/* .slide-item a:hover .imag-label{
    background: gray;
    border-radius: 4px;
} */

.imag-label {
    text-align: center;
    font-size: 14px;
    padding: 4px 0;
    color: #333;
}

.imag-nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 5;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px;
}

.slide-prev {
    left: 10px;
}

.slide-next {
    right: 10px;
}


/* #company {
    text-align: center;
} */